<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="@globules-io/cordova-plugin-debug-check"
        version="1.1.1">
     <name>cordova-plugin-debug-check</name>
     <description>Cordova plugin to check if an app is being debugged</description>
     <license>MIT</license>
     <keywords>cordova,android,debug</keywords>
     <author email="info@globules.io">globules.io</author>
     <repository url="https://github.com/globules-io/cordova-plugin-debug-check.git" />
     <engines>
          <engine name="cordova" version=">=10.0.0" />
     </engines>
     <platform name="android">         
          <source-file src="src/android/DebugCheck.java" target-dir="io/globules/debugcheck" />
          <config-file target="res/xml/config.xml" parent="/*">
               <feature name="DebugCheck">
                    <param name="android-package" value="io.globules.DebugCheck" />
               </feature>
          </config-file>
     </platform>
     <js-module src="www/DebugCheck.js" name="DebugCheck">
          <clobbers target="DebugCheck" />
     </js-module>
</plugin>